<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Check out this Product</title>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        {% load static %}
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize/css/materialize.css' %}"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/showStyle.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div id="container">            
            <ul id="nav-mobile" class="sidenav sidenav-fixed hide-on-small">
                <a href="/">
                    <li class="logo">
                        <img id="logo" src="{% static 'images/logo.jpg' %}" alt="229 Logo">
                    </li>
                </a>
                <li>
                    <div class="divider"></div>
                    <input type="text" class="search" placeholder="Search" id="search-input">
                    <i class="material-icons searching dropdown-trigger" data-target="dropdown1" id="searching">search</i>
                    <ul id="dropdown1">
                    </ul>
                    <div class="divider"></div>
                </li>
                <li>
                    <ul class="collapsible">
                        {% for category in categories %}
                        <li>
                            <div class="collapsible-header waves-effect waves-teal">
                                <strong class="biggie">{{ category.name }}</strong>
                            </div>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="/products/category/{{ category.id }}">All</a></li>
                                    {% for type in category.types.all %}
                                    <li><a href="/products/category/{{ category.id }}/type/{{ type.id }}">{{ type.name }} ({{ type.product.count }})</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        {% endfor %}
                        <li>
                            <div class="collapsible-header waves-effect waves-teal">
                                <a id="cart" href="/shopping-cart">
                                    <i class="material-icons cart">shopping_cart</i>
                                    <strong class="biggie">Shopping Cart ({{ shopping_cart.count }})</strong>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <nav class="hide-on-large-only black">
                <div class="nav-wrapper">
                    <ul class="right">
                        <li>
                            <a id="cart" href="/shopping-cart" class="white-font">Shopping Cart ({{ shopping_cart.count }})</a>
                        </li>
                        {% for category in categories %}
                        <li><a class="dropdown-trigger" href="#!" data-target="{{ category.name }}">{{ category.name }}<i class="material-icons right">arrow_drop_down</i></a></li>
                        <ul id="{{ category.name }}" class="dropdown-content">
                            <li><a href="/products/category/{{ category.id }}">All</a></li>
                            {% for type in category.types.all %}
                            <li><a href="/products/category/{{ category.id }}/type/{{ type.id }}">{{ type.name }} ({{ type.product.count }})</a></li>
                            {% endfor %}
                        </ul>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
            <div id="product-show">
                <div id="back">
                    <a class="btn waves-effect waves-light red darken-4" href="/">Go Back
                        <i class="material-icons left">chevron_left</i>
                    </a>
                </div>
                <div id="product_info">
                    <h4>{{ product.name }}</h4>
                    <img class="product_image" src="{{ product.image }}" alt="prod_image">
                </div>
                <div id="right">
                    <div class="description">
                        <p class="desc">{{ product.desc }}</p>
                    </div>
                    <form action="/shopping-cart/add-product" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ product.id }}" id="product_id">
                        <div class="row">
                            <div class="input-field col s7">
                                <select id="product_quantity" name="product_quantity">
                                {% for key, price in prices.items %}
                                <option value="{{ key }}">{{ key }} (${{ price }})</option>
                                {% endfor %}
                                </select>
                            </div>
                            <div class="col s5">
                                <button onclick="M.toast({html: 'Item has been added to your cart!'})" class="btn waves-effect waves-light cyan darken-4" id="add_cart" type="submit">Add to Cart
                                    <i class="material-icons right">add_shopping_cart</i>
                                </button>      
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <script type="text/javascript" src="{% static 'css/materialize/js/materialize.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/quantity.js' %}"></script>
    </body>
</html>