#customer-info {
    margin-top: 2rem;
}
table {
    font-size: 1.2em;
}   
.size {
    font-size: 1.2em;
    margin-left: 2rem;
}
.total {
    float: right;
    margin-right: 7rem;
    margin-top: 1rem;
}
form {
    width: 80%;
    margin: 0 auto;
    margin-top: 7rem;
}
fieldset {
    border: none !important;
}
.checkout {
    margin-bottom: 4rem;
}
.btn-small {
    margin-left: 1rem;
    padding-left: 0.5rem !important;
    padding-right: 0 !important;
}

.errors {
    color: red;
}