<!DOCTYPE html>
<html>
    <head>
        <title>Add a Product</title>
        <meta charset="utf-8">
        {% load static %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize/css/materialize.css' %}"  media="screen,projection"/>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script type="text/javascript" src="{% static 'css/materialize/js/materialize.js' %}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link type="text/css" rel="stylesheet" href="{% static 'css/error.css' %}" />
        <script type="text/javascript" src="{% static 'js/add.js' %}"></script>
    </head>
    <body>
        <div id="wrapper">
            <div class="row">
                <div class="col s12 m8 offset-m2 l6 offset-l3">
                    <h5>Add a Product</h5>
                    <form action="/admin/process_add" method="POST">
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }} errors"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% csrf_token %}
                        <div class="row">
                            <div class="input-field col s7">
                                <input name="prod_name" id="prod_name" type="text" class="validate">
                                <label for="prod_name">Product Name</label>
                            </div>
                            <div class="input-field col s5">
                                <input type="number" step="0.01" name="price" id="price">
                                <label for="price">Price</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea name="desc" id="desc" class="materialize-textarea"></textarea>
                                <label for="desc">Description</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <select id="prod_category" name="prod_category">
                                    <option value="">Choose a Category</option>
                                    {% for category in categories %}
                                    <option value="{{ category.name }}">{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                                <label>Category</label>
                            </div>
                            <div class="input-field col s6">
                                <select name="prod_type" id="prod_type" disabled>
                                </select>
                                <label>Type</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input name="new_category" id="new_category" type="text" class="validate">
                                <label for="new_category">Add New Category</label>
                            </div>
                            <div class="input-field col s6">
                                <input name="new_type" id="new_type" type="text" class="validate">
                                <label for="new_type">Add New Type</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="image" id="image" type="text" class="validate">
                                <label for="image">Image Path: </label>
                            </div>
                        </div>
                        <div class="row">
                            <a class="btn waves-effect waves-light red darken-4" type="submit" href="/admin/dashboard/products">Go Back
                                <i class="material-icons left">backspace</i>
                            </a>
                            <button class="btn waves-effect waves-light cyan darken-4" type="submit">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>