<!DOCTYPE html>
<html lang="en">
    <head>
        <title>229th Admin Dashboard</title>
        <meta charset="utf-8">
        {% load static %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize/css/materialize.css' %}"  media="screen,projection"/>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script type="text/javascript" src="{% static 'css/materialize/js/materialize.js' %}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link type="text/css" rel="stylesheet" href="{% static 'css/adminDashStyle.css' %}" />
        <script type="text/javascript" src="{% static 'js/orders.js' %}"></script>
    </head>
    <body>
        <div id="wrapper">
            <nav>
                <div class="nav-wrapper cyan darken-4">
                    <a href="/admin/dashboard/orders" class="brand-logo hide-on-med-and-down">229th Dashboard</a>
                    <ul id="nav-mobile" class="right">
                        <li class="active"><a class="link" href="/admin/dashboard/orders">Orders</a></li>
                        <li><a class="link" href="/admin/dashboard/products">Products</a></li>
                        <li><a class="linkwaves-effect waves-light btn red darken-4 " href="/admin/logout">Logout</a></li>
                    </ul>
                </div>
            </nav>
            <div id="main-content">
                <table class="striped centered">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Shipping Address</th>
                            <th>Total</th>
                            <th class="wi">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>
                                <a href="/admin/dashboard/orders/show/{{ order.id }}">{{ order.id }}</a>
                            </td>
                            <td>{{ order.shipping_info.first_name }} {{ order.shipping_info.last_name }}</td>
                            <td>{{ order.created_at }}</td>
                            <td>{{ order.shipping_info.address.address }}</td>
                            <td>{{ order.total }}</td>
                            <td>
                                <select class="order_status" name="order_status">
                                    <option value="in_process" selected>Order in Process</option>
                                    <option value="shipped">Shipped</option>
                                    <option value="cancelled">Cancelled</option>
                                </select>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>