<!DOCTYPE html>
<html lang="en">
    <head>
        <title>229th Admin Login</title>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        {% load static %}
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize/css/materialize.css' %}"  media="screen,projection"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link type="text/css" rel="stylesheet" href="{% static 'css/adminLoginStyle.css' %}" />
        <style>
            .errors {
                color: red;
            }
        </style>
    </head>
    <body>
        <div id="wrapper">
            <form action="/admin/process_login" method="POST">
                {% csrf_token %}
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }} errors"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <h4> 229th Admin Login</h4>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="email" name="email" type="text" required>
                                <label for="email">Email</label>
                            </div>
                            <div class="input-field col s6">
                              <input id="pwd" name="pwd" type="password" required>
                              <label for="pwd">Password</label>
                            </div>
                        </div>
                        <button class="btn waves-effect waves-light cyan darken-4" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </form>
                </div>
            </form>
        </div>
        <script type="text/javascript" src="{% static 'css/materialize/js/materialize.js' %}"></script>
    </body>
</html>